<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <ul id="{{ v }}" class="{{ v }}">
            {% for item in navigation %}
            <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
            {% endfor %}
        </ul>
        <h1>{{ v }} </h1>
        

        {# a comment #}
 
        {% if true %}
        <div>
        {% endif %}
            hello
        {% if true %}
        </div>
        {% endif %}
        
    </body>
</html>
